.logoFont{
    font-weight: 300;
    font-size: 8vw;
}
.kompassFont {
    line-height: 0.7;

}
.sozialFont { 
    line-height: 0.8

}
.logoImage {
    width: 100%;
    max-width: 845px;
    height: auto;
}

.startButton {
    margin-top: 2.5vw;
}

.logoContainer {
    margin-top: 5vw;
}