.carousel h1{
    text-align: center;

}

.carousel .carousel-indicators{
    display:flex;
    justify-content: center;
    align-items: center;
    color: rgba(76, 175, 80, 0)
}


.carousel{
    vertical-align: middle;
}

.carousel .cardcontent{
    height: 1000px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width:100vw;

}

.carousel select{
    font-size:30px;
    border-radius: 10px;
    text-align-last:center;
}

.carousel Button{
    margin: 15px;
    font-size: 30px;
    width: 200px;
    opacity: 0.6;
}

.carousel Button:hover{

    opacity: 1;
}

.carousel .bedienelemente{
    display:flex;
    justify-content: center;
    align-items: center;
}

.carousel .carousel-indicators button{
    height:20px;
    border-radius: 5px;
}
