.entry{
    border-radius: 20px;
    display: flex;
    height: 50vh;
    width:50vw;
    background-color: white;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px grey;

}

.content{
    display:flex;

}
.inform {
    margin-top: 20px;
}
.entry a{
    background-color: "white";
    color: white;
    text-decoration: none;
    padding:5px;
    border-radius: 10px;
}

.btn-primary {
    background-color: #6B96E9 !important;
    opacity: 75%;
    
}

.weitere {
    margin-top: 50px;
}

.title {
    margin-top: 20px;
}